.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  a {
    text-decoration: none;
    color: black;
  }
}

.first {
  padding-left: 0 !important;
}

.last {
  margin-right: 0 !important;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
}

ul {
  margin-right: 10px;
  margin-bottom: 30px;
}

.about {
  height: 72vh;
  width: 70%;
  border: 1px solid #2a3d45;
  margin: auto;
}
